<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LISTA UŻYTKOWNIKÓW</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .text-color-mz1 {
            color: darkgreen;
        }

        .bg-color-mz1 {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body class="bg-light">

<div class="container-fluid bg-white shadow-sm mt-5 mb-2 text-color-mz1 fs-4 text-center fw-bolder pt-3 pb-3">
    <img src="/people.png" class="mt-4" th:if="${#arrays.contains(@environment.getActiveProfiles(), 'prod')}"/>
    <img src="/people_dev.png" class="mt-4" th:if="${#arrays.contains(@environment.getActiveProfiles(), 'dev')}"/>
    LISTA UŻYTKOWNIKÓW
</div>

<div class="container">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Data urodzenia</th>
            <th scope="col">E-mail</th>
            <th scope="col">Prenumerata newslettera</th>
            <th scope="col" colspan="2">Operacja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.firstName}">Imię</td>
            <td th:text="${user.lastName}">Nazwisko</td>
            <td th:text="${user.birthday}">Data urodzenia</td>
            <td th:text="${user.email}">E-mail</td>
            <td th:text="${user.newsletter == true ? 'tak' : 'nie'}">Prenumerata newslettera</td>
            <td><a href="#" th:href="|/delete/${user.id}|">usuń</a></td>
        </tr>
        </tbody>
    </table>
    <br />
    <hr/>

    <div style="width: 100%; max-width: 1000px; margin: 0 100px auto">
        <h5>DODAJ NOWEGO UŻYTKOWNIKA:</h5>
        <form th:action="|/add/|" method="post" th:object="${user}">
            <div class="mb-3">
                <label for="firstName" class="form-label">Imię</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
            </div>

            <div class="mb-3">
                <label for="lastName" class="form-label">Nazwisko</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
            </div>

            <div class="mb-3">
                <label for="birthday" class="form-label">Data urodzin</label>
                <input type="date" class="form-control" id="birthday" th:field="*{birthday}" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Adres email:</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
            </div>


            <div class="mb-3">
                <label for="status" class="form-label">Prenumerata newsletter'a</label>
                <select class="form-select" id="status" th:field="*{newsletter}">
                    <option value="false" selected>nie</option>
                    <option value="true" selected>tak</option>
                </select>
            </div>

            <div class="mb-3">
                <button type="reset" class="btn btn-warning mb-3">Wyczyść formularz</button>
                <button type="submit" class="btn btn-success mb-3">Dodaj</button>
            </div>
        </form>
    </div>

</div>

<div class="container-fluid bg-color-mz1 text-secondary shadow-sm mt-5 mb-2 fs-6 text-center pt-3 pb-3">
    Designed by Michał Zygor, 2021.02
</div>
</body>
</html>